@charset "UTF-8";
div{
    display: inline-block;
    text-align: center;
    background-color: grey;
    border: 3px solid black;
    height: 200px;
    width: 200px;
}
div:hover{
    background-color: brown;
}
div > p{
    display: none;
}
div:hover > p {
    display: block;
    color: darkblue;
    background-color: darkgreen;
}