@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
div.cabeçalho{
    background-image: url(imagens/wallpaper003.jpg);
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
            
}