@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(espaco.jpg);
    background-size: 100% 100%;
    
    position: relative;
    height: 100vh;
    
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
div.astronauta{
    background-image: url(astronauta.png);
    background-size: 100% 100%;
    
    position: absolute;
    height: 200px;
    width: 400px;

    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
}
