@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 100px;
    text-align: center;
    background-color: black;
}
header>h1{
    color: white;
    padding-top: 20px;

}
header>p{
    color: white;
    font-size: 0.8rem; 
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover{
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
}

section  {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15px;
}
section >p{
    background-color: white;
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;

   
}
section.normal{
    background-color: blue;
    
}
section.imagem{
    background-color: coral;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
